---
import Layout from '../layouts/Layout.astro';
import CategoryButtons from '../components/CategoryButtons.astro';
import ProductGrid from '../components/ProductGrid.astro';
---

<Layout title="HPAI Official Store">
  <main>
    <CategoryButtons />
    <div class="container">
      <ProductGrid />
    </div>
  </main>
</Layout>